body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  font-family:'Courier New', Courier, monospace
}


.container {
  display: flex;
  flex-direction: column;
}

.intro {
  background-color: #1f2937;
  flex: 0 0 500px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}


.information, .signup {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}



.footer, .header {
  background-color: #1f2937;
  flex: 0 0 50px;

}


.signupbox {
  background-color: #3882F6 ;
  padding: 20px;
  width: 30%;
  border-radius: 12px;
  flex-direction: row;
  align-items: center;
  display: flex;
}
.signup {
  color: white;
  flex: 0 0 130px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}

.header {
  display: flex;
  justify-content: space-between;
}

.left-elements{
  color: #F9FAF8;
  font-size: 24px;
  align-items: center;
  display: flex;
  gap: 30px;
}

.right-elements {
  color:#E5E7EB;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 40px;
}

p1 {
  font-size: 22px;
  font-weight: bold;
}

.signup1 {
  border-radius: 5px;
  background-color: #3882F6;
  color: white;
  border-color: #3882F6;
  height: 30px;
  width: 100px;



}

.signup2 {
  border-radius: 5px;
  background-color: #3882F6;
  color: white;
  border-color: white;
  display: flex;
  margin-left: auto;
  height: 30px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.textsignup {
  display: flex;
  flex-direction: column;

}

.textquote {
  font-size: 36px;
  color: #1F2937;
  margin-top: 32px;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right: 20%;
  flex:0 0 210px;
  background-color:#E5E7EB;
}

p {
  font-weight: bold;
  font-size: 24px;
  margin-left: auto;
}

.box1, .box2, .box3, .box4 {
  height: 100px;
  width: 100px;
  border: solid #3882F6 2px;
  border-radius: 12px;

}

.infoboxes {
  gap: 90px;
  display: flex;
}

.information{
  flex-direction: column;
  gap: 10px;
  flex: 0 0 340px;
}

b {
  font-size: 36px
}


.description {
  display: flex;
  
}

.header, .intro {
  padding-right: 10%;
  padding-left: 10%;
}



.intro-text {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 700px;
}

.main-text {
  font-size: 48px;
  color: #F9FAF8;

}

.secondary-text {
  color:#E5E7EB;
  font-size: 18px;
  margin: 0;

}

.intro-image {
  display: flex;

}

.squirtle, .charmander, .bulbasaur, .pikachu {
  border-radius: 12px;
}

.boxes-text {
  display: flex;
  gap: 95px;
}

.squirtle-box, .charmander-box, .bulbasaur-box, .pikachu-box {
  width: 100px;
  flex-wrap: wrap;
}

.oakface {
  order: -1;
  height: 50px;
}